body {
  background-color: black;
  overflow: hidden;
}
.Container {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 15fr 1fr 4fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "Game_Container Equipment_Container"
    "Hero_Container Button_Group_Container"
    "Log_Container Spell_Container";
}
.Background_Container {
  position: absolute;
  top: 8px;
  left: 8px;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 15fr 1fr 4fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "Game_Background_Container Equipment_Background_Container"
    "Hero_Background_Container Button_Background_Group_Container"
    "Log_Background_Container Spell_Background_Container";
}
.Game_Container {
  grid-area: Game_Container;
  background-color: red;
  opacity: 0.1;
}
.Game_Background_Container {
  grid-area: Game_Background_Container;
  background-color: black;
}
.Hero_Container {
  grid-area: Hero_Container;
  background-color: black;
}
.Log_Container {
  grid-area: Log_Container;
  background-color: black;
}
.Spell_Container {
  grid-area: Spell_Container;
  background-color: black;
}
.Button_Group_Container {
  grid-area: Button_Group_Container;
  background-color: orange;
}
.Equipment_Container {
  grid-area: Equipment_Container;
  background-color: black;
}

.Equipment_Container.Worn_Container {
  /* margin: 150px 0px 150px 0px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*4*/
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /*12*/
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "Shoulder_Container Helmet_Container Helmet_Container Ammo_Container"
    "Shoulder_Container Helmet_Container Helmet_Container Amulet_Container"
    "Shoulder_Container Helmet_Container Helmet_Container Amulet_Container"
    "Glove_Container Torso_Container Torso_Container Bracer_Container"
    "Glove_Container Torso_Container Torso_Container Bracer_Container"
    "Glove_Container Torso_Container Torso_Container Bracer_Container"
    "Right_Ring_Container Torso_Container Torso_Container Left_Ring_Container"
    "Main_Hand_Container Leg_Container Leg_Container Off_Hand_Container"
    "Main_Hand_Container Leg_Container Leg_Container Off_Hand_Container"
    "Main_Hand_Container Leg_Container Leg_Container Off_Hand_Container"
    "Main_Hand_Container Leg_Container Leg_Container Off_Hand_Container"
    "Main_Hand_Container Boot_Container Boot_Container Off_Hand_Container"
    "Main_Hand_Container Boot_Container Boot_Container Off_Hand_Container";
}

.Main_Hand_Container {
  grid-area: Main_Hand_Container;
  background-color: darkslategrey;
}

.Off_Hand_Container {
  grid-area: Off_Hand_Container;
  background-color: darkslategrey;
}

.Boot_Container {
  grid-area: Boot_Container;
  background-color: darkslategrey;
}

.Helmet_Container {
  grid-area: Helmet_Container;
  background-color: darkslategrey;
}

.Amulet_Container {
  grid-area: Amulet_Container;
  background-color: darkslategrey;
}

.Shoulder_Container {
  grid-area: Shoulder_Container;
  background-color: darkslategrey;
}

.Torso_Container {
  grid-area: Torso_Container;
  background-color: darkslategrey;
}

.Leg_Container {
  grid-area: Leg_Container;
  background-color: darkslategrey;
}

.Glove_Container {
  grid-area: Glove_Container;
  background-color: darkslategrey;
}

.Bracer_Container {
  grid-area: Bracer_Container;
  background-color: darkslategrey;
}

.Right_Ring_Container {
  grid-area: Right_Ring_Container;
  background-color: darkslategrey;
}

.Left_Ring_Container {
  grid-area: Left_Ring_Container;
  background-color: darkslategrey;
}

.Ammo_Container {
  grid-area: Ammo_Container;
  background-color: darkslategrey;
}
